body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: inherit;
}

nav{
  display: flex;
  gap: 1rem;
}

header {
  color: whitesmoke;
  padding: 1rem;
  background-color: #021b5ec4;
  box-shadow: 0 2px 4px rgba(13, 43, 126, 0.1);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-list{
  width: fit-content;
  height: 86.5vh;
  padding-right: 15px;
  padding-top: 15px;
  background-color: rgba(27, 67, 153, 0.295);
  
}

.list-container{
  flex-direction: column;
  z-index: 10;
  margin-left: 15px;
  width: fit-content;
  border-radius: 16px;
  background-color: rgba(27, 67, 153, 0.205);
  height: auto;
  padding: 15px;
  text-align: center;

}

.list-medicaments{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 15px;

}

.list-medicaments li{
  list-style: none;
  border-radius: 20px;
  color: white;
  padding: 5px;
  width: 150px;
  background-color: rgba(2, 28, 143, 0.603);
  transition: .5s ease;
  box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.322);
}

.list-medicaments li:hover{
  background-color: rgba(9, 25, 170, 0.849);
  cursor: pointer;
  box-shadow: 5px 10px 5px  rgba(0, 0, 0, 0.568);
  scale: 1.05;
}

.info-medicament{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 50%;
  text-align: center;

}

a{
  text-decoration: none;
  display: block;
}

.definitions{
  background-color: rgba(2, 28, 143, 0.603);
  border-radius: 16px;
  padding: 25px;
  color: white;
  box-shadow: 10px 15px 15px 5px rgba(0, 0, 0, 0.322);
}

nav a.active{
  font-weight: bold;
  pointer-events: none;
  color: rgb(175, 233, 148);
  
}