body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: inherit;
}

nav{
  display: flex;
  gap: 1rem;
}

header {
  color: whitesmoke;
  padding: 1rem;
  background-color: #021b5ec4;
  box-shadow: 0 2px 4px rgba(13, 43, 126, 0.1);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-list{
  width: fit-content;
  height: auto;
  padding: 15px;
  background-color: rgba(27, 67, 153, 0.295);
}

.list-container{
  flex-direction: column;
  z-index: 10;
  margin-left: 15px;
  width: fit-content;
  border-radius: 16px;
  background-color: rgba(27, 67, 153, 0.205);
  height: auto;
  padding: 15px;
  text-align: center;

}

.list-medicaments{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 15px;

}

.list-medicaments li{
  list-style: none;
  border-radius: 20px;
  color: white;
  padding: 5px;
  width: 150px;
  background-color: rgba(2, 28, 143, 0.603);
  transition: .5s ease;
  box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.322);
}

.list-medicaments li:hover{
  background-color: rgba(9, 25, 170, 0.849);
  cursor: pointer;
  box-shadow: 5px 10px 5px  rgba(0, 0, 0, 0.568);
  scale: 1.05;
}

.info-medicament{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 50%;
  text-align: center;
  margin-top: 150px;

}

a{
  text-decoration: none;
  display: block;
}

.definitions{
  background-color: rgba(2, 28, 143, 0.603);
  border-radius: 16px;
  padding: 25px;
  color: white;
  box-shadow: 10px 15px 15px 5px rgba(0, 0, 0, 0.322);
}

nav a.active{
  font-weight: bold;
  pointer-events: none;
  color: rgb(175, 233, 148);
  
}

.formRegister {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgba(2, 28, 143, 0.603);
  justify-self: center;
  margin-top: 10%;
  border-radius: 8px;
  padding: 80px;
  height: 125px;
  width: 400px;

}

.inputsRegister {
  width: fit-content;
  border: none;
  outline: none;
  border-radius: 4px;
  
  border-bottom: 1px solid rgb(2, 28, 143);
}



.buttons{
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.medicamentsContainer {
 display: grid;
 padding: 15px;
 gap: 25px;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media (max-width: 900px) {
  .medicamentsContainer {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  }

  .medicamentsDatabase {
    width: 500px !important;
    height: fit-content !important;
  }
}

@media (max-width: 1200px) {
  .medicamentsDatabase {
    height: auto !important;
  }
}

.medicamentsDatabase {
  width: auto;
  padding: 24px;
  height: 250px;
  justify-self: center;
  align-self: center;
  margin-top: 1%;
  justify-items: center;
  text-overflow: ellipsis; 
  overflow: none;
}

.closeButton {
  position: absolute;
  display: flex;
  justify-self: right;
}

.searchButton{
  width: fit-content;
  height: fit-content;
  transition: all 1s;
}

.searchButton:hover{
  background-color: rgb(122, 202, 122);
  scale: 1.2;
}

.searchContainers {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.alertMessages {
  color: red;
  background-color: rgb(48, 177, 76);
  border-radius: 8px;
  padding: 2px;
  position: absolute;
  place-self: center;
  bottom: 25px;
  right: 25px;
  transition: all 4s
}

.backgroundStyles {
  background: linear-gradient(5deg, rgba(228, 228, 228, 0.474) 43%, #021b5ec4 43.1%);
  display: flex;
  justify-content: center;
  height: 100vh;
}
