services:
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root123
      MARIADB_DATABASE: app_db
      MARIADB_USER: app_user
      MARIADB_PASSWORD: app_pass
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  api: 
    build: .
    depends_on:
      mariadb:
        condition: service_healthy
    env_file:
      - .env.docker
    command: sh -c "npm exec prisma migrate deploy && node dist/index.js"
    ports:
    - "4323:4323"
